<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/uikit.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  <header>
    <nav class="uk-navbar">
      <a class="uk-navbar-brand" href="http://localhost:3000/admin">Davau博客后台管理</a>
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="http://localhost:3000/">前端</a></li>
        <li><a href="http://localhost:3000/admin/post">发布</a></li>
        <li><a href="http://localhost:3000/upload">上传文件</a></li>
      </ul>
      <div class="uk-navbar-content uk-hidden-small">
        <form class="uk-form uk-margin-remove uk-display-inline-block" action="/search" method="GET">
            <input type="text"  name="keyword" placeholder="Search">
            <button class="uk-button uk-button-primary">搜索</button>
        </form>
      </div>
      <div class="uk-navbar-content uk-navbar-flip  uk-hidden-small">
        <div class="uk-button-group">
            <% if (user) { %>
              <a class="uk-button uk-button-danger" href="center">个人中心</a>
              <a class="uk-button uk-button-danger" href="/logout">退出</a>
            <% } else { %>
              <a class="uk-button uk-button-danger" href="login">登录</a>
              <a class="uk-button uk-button-danger" href="register">注册</a>
            <% } %>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    
 