<br />
<div>
  <% if (!isFirstPage) { %>
    <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
  <% } %>

  <% if (!isLastPage) { %>
    <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
  <% } %>
</div>

	<!-- <ul class="uk-pagination">
	        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
	        <li class="uk-active"><span>1</span></li>
	        <li><a href="#">2</a></li>
	        <li><a href="#">3</a></li>
	        <li><a href="#">4</a></li>
	        <li><span>...</span></li>
	        <li><a href="#">20</a></li>
	        <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
	    </ul> -->